<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>congratulation Page</title>
    <link rel="stylesheet" href="/congrats.css">
</head>
<body>
    <div class="box">
        <p class="head">Congratulation!</p>
        <p class="data1">You Have Successfully Created Your Ideabook Account.</p>
        <p class="data1">Go To Home Page For Log In Again And Start Posting Your Idea On Ideabook.</p>
        <p class="data1">Hope You Have A Wonderful Journey Ahead...</p>
        <button class="home"><a href="http://localhost:8080/home">Go To Home Page</a></button>
    </div>
</body>
</html>