<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign In</title>
    <link rel="stylesheet" href="/signin.css">
</head>
<body>
    <form method="post" action="/home/signin">
        <div class="box">
            <p class="head">Sign In Page</p>
            <input class="data" name="username" placeholder="Enter Username">
            <input class="data" name="email" placeholder="Enter E-mail ID">
            <input class="data" name="dob" placeholder="Enter Date Of Birth (DD/MM/YYYY)">
            <input class="data" name="country" placeholder="Enter Country Name">
            <input class="data" name="mobile" placeholder="Enter Mobile No.">
            <input type="password" class="data pass1" name="password" placeholder="Enter Password">
            <input type="password" class="data pass2" name="pass" placeholder="Re-Enter Your Password">
            <button class="submit">Sign In</button>
        </div>
    </form>
    <script src="/idea.js"></script>
</body>
</html>